
body{
    margin: 5px;
    background-color: beige;
}

.container{
    border: beige  1px solid;
    margin: 3% auto;
    width: 50%;

}
#opcionPlanetas{
    display: none;
}
#opcionPersonajes{
    display: none;
   
}
#opcionPeliculas{
    display: none;
}
#opcionNaves{
    display: none;
}
#opcionVehiculos{
    display: none;
}
#opcionEspecies{
    display: none;
}
